<section>
  <div class="container">
    <div class="left">
      <div class="imgs-container">
        <img class="img-secondary1" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61a567f085db5723a5c8efbf_60fe2e7d42d409619e2e6a32_watches.jpg">
        <img class="img-secondary2" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61a567b37fc055b233b45266_60fe2e9c41780d1462792137_hands.jpg">
        <img class="img-main" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/60ff906d47fc2ecff480fc1d_andrew.jpg">
      </div>
    </div>

    <div class="right">
      <h2>
        Who<br />
        we are
      </h2>

      <div class="divider"></div>

      <p>
        Founded in 1995, our NZ-owned IT consultancy has offices in Auckland, Wellington, Christchurch and Tauranga. We cover a range of specialist areas and span just about every industry in New Zealand.
      </p>

      <a class="arrow-link">
        <div class="label">About us</div>
        <div class="arrow-holder">
          <div class="icon arrow-icon arrow-link-icon"></div>
        </div>
      </a>
    </div>
  </div>
</section>
