<section>
  <div class="container">
    <div class="left">
      <h2>
        What<br />
        we do
      </h2>

      <div class="outline-text">
        <div class="background-text">Solu-<br/>tions</div>
      </div>

      <div class="divider"></div>

      <p>
        We add value to our customers' businesses - by developing smarter tech solutions, together.
      </p>

      <a class="arrow-link">
        <div class="label">All solutions</div>
        <div class="arrow-holder">
          <div class="icon arrow-icon arrow-link-icon"></div>
        </div>
      </a>
    </div>

    <div class="right">
      <div class="holder">
        <div class="frame"></div>
        <div class="swiper-fader left"></div>
        <div class="swiper-fader right"></div>
        <swiper-container #swiper
          class="top"
          slides-per-view="3.4"
          loop="false"
        >
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title"></h3>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Digital</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Data &amp; Insights</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Dynamics 365</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Project Delivery</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Continuous Computing</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Cyber Security</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Innovation Lab</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Industry Solutions</h3>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title">Microsoft</h3>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title"></h3>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="solution-thumb">
              <div class="icon solution-thumb-icon"></div>
              <h3 class="solution-thumb-title"></h3>
            </div>
          </swiper-slide>
          <!--</div>-->
        </swiper-container>

        <!--<swiper-container class="solutions" #swiper2 slides-per-view="1" space-between="30" centerd-slides="true" loop="false">-->
        <swiper-container #swiper2 class="solutions" slides-per-view="1" loop="false" effect="fade">

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    <span class="text-red">Theta Digital</span> delivers end-to-end digital solutions for consumer and
                    enterprise.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/digital/web-development"
                       class="btn btn-white btn-pill delay-link w-button">Web Development</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/mobile-app-development"
                       class="btn btn-white btn-pill delay-link w-button">Mobile App Development</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/collaboration-solutions"
                       class="btn btn-white btn-pill delay-link w-button">Collaboration Solutions</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/cloud"
                       class="btn btn-white btn-pill delay-link w-button">Cloud</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/ux-design"
                       class="btn btn-white btn-pill delay-link w-button">UX/UI Design</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/integration"
                       class="btn btn-white btn-pill delay-link w-button">Integration</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/building-chatbots"
                       class="btn btn-white btn-pill delay-link w-button">Building Chatbots</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/it-strategy-and-governance"
                       class="btn btn-white btn-pill delay-link w-button">IT Strategy and Governance</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/digital/generative-ai-consulting"
                       class="btn btn-white btn-pill delay-link w-button">Generative AI consulting</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    <span class="text-red">Theta Data and Insights </span>specialises in BI and analytics strategy,
                    consulting and implementation.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/data"
                       class="btn btn-white btn-pill delay-link w-button">Data</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/insights"
                       class="btn btn-white btn-pill delay-link w-button">Insights</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/strategy"
                       class="btn btn-white btn-pill delay-link w-button">Strategy</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/governance"
                       class="btn btn-white btn-pill delay-link w-button">Governance</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/modern-data-platform"
                       class="btn btn-white btn-pill delay-link w-button">Modern Data Platform</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/data-visualisation-and-reporting"
                       class="btn btn-white btn-pill delay-link w-button">Data Visualisation and Reporting </a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/advanced-analytics"
                       class="btn btn-white btn-pill delay-link w-button">Advanced Analytics</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/data-science-solutions"
                       class="btn btn-white btn-pill delay-link w-button">Data Science Solutions</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/architecture"
                       class="btn btn-white btn-pill delay-link w-button">Architecture</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/data-insights/power-bi-training"
                       class="btn btn-white btn-pill delay-link w-button">Power BI Training</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    Improving the end to end processes of businesses using <span class="text-red">
                      Microsoft Dynamics 365
                      and Power Platform
                    </span>.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/d365-business-central"
                       class="btn btn-white btn-pill delay-link w-button">D365 Business Central</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/d365-sales"
                       class="btn btn-white btn-pill delay-link w-button">D365 Sales</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/d365-customer-service"
                       class="btn btn-white btn-pill delay-link w-button">D365 Customer Service</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/d365-field-service"
                       class="btn btn-white btn-pill delay-link w-button">D365 Field Service</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/d365-customer-insights-journeys"
                       class="btn btn-white btn-pill delay-link w-button">D365 Customer Insights - Journeys</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/microsoft-power-apps"
                       class="btn btn-white btn-pill delay-link w-button">Power Apps</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/microsoft-power-pages"
                       class="btn btn-white btn-pill delay-link w-button">Power Pages</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/microsoft-power-automate"
                       class="btn btn-white btn-pill delay-link w-button">Power Automate</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/dynamics-365/microsoft-power-platform"
                       class="btn btn-white btn-pill delay-link w-button">Power Platform</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>We work with you to ensure <span class="text-red">successful delivery outcomes</span>.</h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/project-delivery/project-delivery-services"
                       class="btn btn-white btn-pill delay-link w-button">Project Delivery Services</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/project-delivery/delivery-methodologies"
                       class="btn btn-white btn-pill delay-link w-button">Delivery Methodologies</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/project-delivery/technical-testing-services"
                       class="btn btn-white btn-pill delay-link w-button">Technical Testing Services</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/project-delivery/business-analysis"
                       class="btn btn-white btn-pill delay-link w-button">Business Analysis</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    <span class="text-red">Get full IT support</span> - from an ITIL service desk through to cloud and
                    database management.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/continuous-computing/infrastructure-management"
                       class="btn btn-white btn-pill delay-link w-button">Infrastructure Management</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/continuous-computing/cloud-management"
                       class="btn btn-white btn-pill delay-link w-button">Cloud Management</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/continuous-computing/managed-services"
                       class="btn btn-white btn-pill delay-link w-button">Managed Services</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/continuous-computing/database-management"
                       class="btn btn-white btn-pill delay-link w-button">Database Management</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/continuous-computing/microsoft-endpoint-manager"
                       class="btn btn-white btn-pill delay-link w-button">Microsoft Endpoint Manager</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    We build security into everything we do, and offer <span class="text-red">
                      bespoke cyber security
                      consulting
                    </span> too.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/threat-intelligence"
                       class="btn btn-white btn-pill delay-link w-button">Threat Intelligence</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/bespoke-services-and-consulting"
                       class="btn btn-white btn-pill delay-link w-button">
                      <strong>
                        Bespoke Services and
                        Consulting
                      </strong>
                    </a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/emerging-threats"
                       class="btn btn-white btn-pill delay-link w-button">Emerging Threats</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/mdr"
                       class="btn btn-white btn-pill delay-link w-button">MDR</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/adversary-simulation"
                       class="btn btn-white btn-pill delay-link w-button">Adversary Simulation</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/situational-awareness"
                       class="btn btn-white btn-pill delay-link w-button">Situational Awareness</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/security-awareness-training"
                       class="btn btn-white btn-pill delay-link w-button">Security Awareness Training</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/solutions/cyber-security/networking-services"
                       class="btn btn-white btn-pill delay-link w-button">Networking Services</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    <span class="text-red">Innovation lab </span>helps our customers innovate, accelerate and stay ahead
                    of the competition.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="/solutions/innovation-lab/hackfests-and-hackathons"
                       class="btn btn-white btn-pill delay-link w-button">Hackfests and Hackathons</a>
                  </div>
                  <div class="pill-holder">
                    <a href="/technologies/our-products"
                       class="btn btn-white btn-pill delay-link w-button">Product Innovation</a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content">
                <div class="solution-slide-text">
                  <h4>
                    We provide <span class="text-red">smart solutions</span> for customers across a range of industries
                    and have specialist depth in key areas.
                  </h4>
                </div>
                <div class="subsolutions">
                  <div class="pill-holder">
                    <a href="#" class="btn btn-white btn-pill delay-link w-button">
                      Energy and
                      utilities
                    </a>
                  </div>
                  <div class="pill-holder">
                    <a href="#" class="btn btn-white btn-pill delay-link w-button">Insurance</a>
                  </div>
                  <div class="pill-holder">
                    <a href="#" class="btn btn-white btn-pill delay-link w-button">
                      Budgeting and
                      planning
                    </a>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="solution-slide-content justify-center">
                <div class="solution-slide-text text-center">
                  <h4>
                    <span class="text-red">A Microsoft Solutions Partner</span>, we're here to help plan and deploy high
                    quality solutions using Microsoft technology
                  </h4>
                  <div class="mt-2">
                    <a href="/solutions/microsoft/overview" class="btn btn-primary delay-link w-button">
                      Find
                      out more
                    </a>
                  </div>
                </div>
              </div>
            </swiper-slide>

        </swiper-container>
      </div>

      <div class="dots navy-dots _200-dots solutions-dots">
      </div>
    </div>
  </div>
</section>
