
<section>
  <div class="container">
    <div class="left">
      <h2>
        We<br />
        work with
      </h2>

      <div class="divider"></div>

      <p>
        We work with best-of-breed technologies and specialise in proven, well supported products.
      </p>

      <a class="arrow-link">
        <div class="label">Technologies</div>
        <div class="arrow-holder">
          <div class="icon arrow-icon arrow-link-icon"></div>
        </div>
      </a>
    </div>

    <div class="right">
      <div class="cards-container">
        <div class="cards-holder">
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/66b3d43a5f13d393d31ad6d9_Untitled%20design.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/61397979a9dcbf04b79c50a7_apteanlogo%20(1).png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6253c6e13eecda06326d08b6_snowflake-ar21.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6253c548dfc6beb5231f943c_crowdstrike-logo2.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/65b076978e541bb9aaf780d1_microsoft-365-logo.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/661ef60af6ac281325861448_Onwardly%20Logo%20-%20Site%20Thumbnail.png">
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
