<section>
  <div class="container">

    <div class="title-container">
      <h2>
        Case studies
      </h2>

      <a class="arrow-link">
        <div class="label">View all</div>
        <div class="arrow-holder">
          <div class="icon arrow-icon arrow-link-icon"></div>
        </div>
      </a>
    </div>

    <div class="row2">
      <div class="left">

        <div class="dots cs-dots"></div>

        <div class="divider"></div>

        <p>
          From cloud transformation to better insights, we work closely with our customers and help them succeed.
        </p>

      </div>

      <div class="right">
        <div class="swiper-frame">
          <div class="border"></div>
          <div class="swiper-holder">

            <swiper-container #swiper slides-per-view="3" space-between="0" centerd-slides="true" loop="true">
              <swiper-slide>
                <a href="/case-study/streamlining-equine-auction-sale-days-with-cloud-first-microsoft-tech">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/66287adb18bf610d1a43da51_bs-600.jpg">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/66287bc9be4f62bb6fc7080e_NZB_Thoroughbred_Logo_hi.png"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>Streamlining Equine Auction Sale Days With Cloud-First Microsoft Tech</h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/tracks-the-place-for-tech">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/624a1f6ce8f9b904871f3ea0_CNZ%20-%20webflow%20sized%20-%20thumbnail.jpg">
                  </div>

                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/624a1e966ad06a0036a31ff1_cnz.jpg"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>Track's the place for tech</h4>
                  </div>

                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/why-the-electricity-authority-moved-to-a-modern-cloud-based-data-platform">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/61f9fa91204b5729b6058979_EA-600.png">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254daa5353a6238127a7d47_ea.png"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>Why The Electricity Authority moved to a modern, cloud based data platform</h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/hackathon-discovers-were-onto-a-winner-bi-solution-for-the-warehouse-group">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/615e0e99e13b1b617141fd8a_NewStore-original-600.jpg">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254db8973b0a0e85c4d3ca3_The_Warehouse_Group_logo.svg.png"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>
                      Hackathon discovers 'we're onto a winner' BI solution for The Warehouse
                      Group
                    </h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/intelligent-insights-at-scale-improve-efficiency-for-global-logistics-leader">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/613a8a479276c4e8eda914b2_mft-600.jpg">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254cbd5a730123b65e53ba1_mfreight.png"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>
                      Intelligent insights at scale improve efficiency for global logistics
                      leader
                    </h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/teams-sharepoint-and-avepoint-helps-taumata-arowai-with-public-records-act-compliance-and-secure-collaboration">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/613a9f6f3f709a5752e1f889_TA-%20600.jpg">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254d9f4a168e962011ea34d_Taumata%20Arowai.jpg"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>
                      Teams, SharePoint and AvePoint helps Taumata Arowai with Public Records
                      Act compliance and secure collaboration
                    </h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="/case-study/microsoft-solution-suite-for-new-zealands-new-water-services-regulator-taumata-arowai">
                  <div class="card-underlay"></div>
                  <div class="img-holder">
                    <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6131842bba647c417fed694c_case%20study%20images%20(14).png">
                  </div>
                  <div class="card-content">
                    <div class="logo-holder">
                      <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254d9f4a168e962011ea34d_Taumata%20Arowai.jpg"
                           class="card-logo">
                    </div>
                    <h5>Case study</h5>
                    <h4>
                      Microsoft solution suite for New Zealand's new water services regulator,
                      Taumata Arowai
                    </h4>
                  </div>
                  <div class="arrow-holder">
                    <div class="arrow-icon"></div>
                  </div>
                </a>
              </swiper-slide>

            </swiper-container>

          </div>

          <div class="swiper-controls">
            <div class="swiper-control" (click)="goPrev()">
              <div class="control-icon"></div>
            </div>

            <div class="swiper-control" (click)="goNext()">
              <div class="control-icon"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
