.hero-container {
  height: 100vh;
  min-height: 720px;
}

.hero-container .bg-video {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-container .bg-video video {
  background-image: url('https://cdn.prod.website-files.com/60fa9ed…/62aa94a…_Theta Recruitment - Minified_-poster-00001.jpg');
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
  z-index: -100;
}

.hero-overay {
  position: absolute;
  background: var(--black);
  width: 100%;
  height: 100%;
  opacity: .98;
  left:0;
  top:0;
  z-index:4;
}

.hero-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: 5;
}

img.hero-logo-outline {
  opacity: .16;
  width: 50vw;
  position: absolute;
  left: -20%;
  vertical-align: middle;
  max-width: 100%;

  display: inline-block;
  z-index: 5;
}
.outline-text {
  will-change: transform;
  transform: translate3d(20.01px, -22.2575px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  background-color: #0000;
  font-weight: bold;
  color: transparent;
  user-select: none !important;
  pointer-events: none !important;
  opacity: .1;
  color: var(--white);

  position: absolute;
  bottom: 109px;
  left: 49px;
  z-index: 2;
  text-align: left;
}
.white-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: white;
}

.hero-est-text {

}

.display-2 {
  font-size: 4rem;
  font-weight: 900;
}
.display-xl {
  font-size: 10rem;
  font-weight: 900;
}

.hero-left {
  width: 40vw;
  height: 100%;
}
