<div class="hero-container">
  <!-- background video -->
  <div class="bg-video">
    <video autoplay="" loop="" style="background-image:url(&quot;https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/62aa94a8ff6ad55f3dc7c326_Theta Recruitment - Minified_-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
      <source src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/62aa94a8ff6ad55f3dc7c326_Theta Recruitment - Minified_-transcode.mp4" data-wf-ignore="true">
      <source src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/62aa94a8ff6ad55f3dc7c326_Theta Recruitment - Minified_-transcode.webm" data-wf-ignore="true">
    </video>
  </div>

  <div class="hero-overay"></div>

  <div class="hero-content">
    <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/60fe1f257a5ef553ebcc68c8_logo-outline.svg" loading="eager" data-w-id="78adb996-8834-3f9e-6748-2b17f61bc296"
         alt=""
         class="hero-logo-outline"
         style="will-change: transform; transform: translate3d(49.976px, -49.032px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" />

    <div class="outline-text white-outline hero-est-text">
      <div class="display-2">est.</div>
      <div class="display-xl">1995</div>
    </div>

    <!-- Left Text Content -->
    <div class="hero-left">
      <div class="hero-title">
        Intelligence.
        <span style="color:var(--theta-red);">Innovation.</span>
        Insight.
      </div>

      <div class="">
        <button>Play video</button>
        <button>Get in touch</button>
      </div>
    </div>

    <!-- Right Slids -->
    <div class="hero-right">

    </div>
  </div>
</div>
