
<section>
  <div class="container">
    <div class="left">
      <div class="cards-container">
        <div class="cards-holder">
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/62bb9e7db64ae65338f5323f_EvaCheckin-StackedLogo-full-RGB.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/66413440baa1ededaaf93935_HelpfruitLogo-Stacked-RGB-fullColour.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/62324714e56336e10f90a06f_Glasstrail_Purple%20(1).png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/61943f1b5443badf4db948a3_SIXD.png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/61bbe97cde84c16d903b8800_MicrosoftTeams-image%20(290).png">
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/technology/eva-check-in">
              <div class="card-content">
                <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/61943f76eea7871e551cfdcd_Mixiply%20Horizontal%20(1).png">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="outline-text">
        <div class="background-text">Tech-<br/>nologies</div>
      </div>

      <h2>
        Our
        <br />
        products
      </h2>

      <div class="divider"></div>

      <p>
        Our Product Group is the hub of product development, where we build tech to solve everyday business challenges.
      </p>

      <a class="arrow-link">
        <div class="label">Products</div>
        <div class="arrow-holder">
          <div class="icon arrow-icon arrow-link-icon"></div>
        </div>
      </a>
    </div>
  </div>
</section>
