<section>
  <div class="container">
    <div class="cta-cards-holder">
      <img class="card-stripes" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/60ff8ccba163cb13e72b6860_red-stripes.svg">

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/customers/all-customers" class="cta-card">
          <img class="cta-card-img" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61a4109ba7973c95f6e4d0f6_2021_Wellington_73.jpg">
          <div class="cta-card-underlay"></div>
          <div class="card-content">
            <div class="counter">
              <div class="counter-value">350+</div>
              <h3 class="counter-text">Customers</h3>
            </div>
          </div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
        </a>
      </div>

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/about/our-people" class="cta-card tower">
          <img class="theta-tower" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/60ff805c7ba730ad72548b42_theta-tower.png">
          <div class="card-content">
            <div class="counter">
              <div class="counter-value">300+</div>
              <h3 class="counter-text">Team members</h3>
            </div>
          </div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
        </a>
      </div>

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/technologies/we-work-with" class="cta-card">
          <img class="cta-card-img" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/613ed43d9505c99560e14eac_General%20Pic%20%E2%80%93%201.svg">
          <div class="cta-card-underlay teal-underlay"></div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
          <div class="card-content">
            <div class="counter">
              <div class="counter-value">70+</div>
              <h3>Technology partners</h3>
              </div>
            </div>
        </a>
      </div>

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/about/giving-back" class="cta-card">
          <img class="cta-card-img" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/613ed5f17af83a262d289cca_General%20Pic%20%E2%80%93%2017.svg">
          <div class="cta-card-underlay red-underlay"></div>
          <div class="card-content">
            <h3>Giving back</h3>
          </div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
        </a>
      </div>

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/about/sustainability" class="cta-card">
          <img class="cta-card-img" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/6122e0d486b5f96b9d0dba67_sustainability.jpg">
          <div class="cta-card-underlay teal-underlay"></div>
          <div class="card-content">
            <h3>Sustainability</h3>
          </div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
        </a>
      </div>

      <div class="cta-card-holder">
        <div class="shadow"></div>
        <a href="/events" class="cta-card">
          <img class="cta-card-img" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/611ef7ca4e6a49a6f3476e77_Digital.jpg">
          <div class="cta-card-underlay"></div>
          <div class="card-content">
            <h3>Events</h3>
          </div>
          <div class="arrow-holder">
            <div class="icon arrow-icon cta-card-arrow-icon"></div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
