<section>
  <div class="container">
    <!--<div class="outline-text">
      <div class="text">Exce-<br>llence</div>
    </div>-->
    <div class="overlap-holder">
      <div class="overlap-content">
        <h2>Centres Of Excellence</h2>
        <p>
          Our Centers of Excellence are teams of dedicated Theta specialists who collaborate to deliver high
          quality results. Customers benefit from the team's wide-ranging skills, which cover everything from security to
          data expertise, ensuring comprehensive solutions.
        </p>
      </div>
      <div class="overlap-image-holder">
        <img class="home-gen-ai" src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/6727fe4fa740db51da833759_Badges.png">
      </div>
    </div>
  </div>
</section>
