
<div class="footer">
  <div class="container">
    <div class="col1">
      <img class="brand" src="svgs/logo.svg" />
      <div class="moto">We help organisations transform with technology.</div>
      <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </div>

    <div class="col2">
      <ul>
        <li>Call us</li>
        <li class="red-link">0800 4 THETA</li>
        <li>Enquiries</li>
        <li class="red-link">enquiries&#64;theta.co.nz</li>
        <li>Service Desk</li>
        <li class="red-link">service.desk&#64;theta.co.nz</li>
      </ul>
    </div>

    <div class="col3">
      <ul>
        <li class="red-link">Contact</li>
        <li class="red-link">Privacy</li>
        <li class="red-link">Terms and Conditions</li>
        <li>
          <a href="https://thetacdn.blob.core.windows.net/assets/Certifications/THAQ01-CCER04%20Certificate%20of%20Confidence%20(Final).pdf" target="_blank" class="red-link fade-link w-inline-block">
            <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61a40f48b5037dd0296e2904_ISO%2027001%20White%20version.png" loading="lazy" alt="" class="iso-img">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="myChatButton">
  <span class=""></span>
</div>
