<nav class="navbar">
  <!-- Logo -->
  <div class="brand-container">
    <a routerLink="/" routerLinkActive="active">
      <img class="brand" src="svgs/logo.svg" />
    </a>
  </div>

  <!-- Menu -->
  <div class="nav-items">
    <a routerLink="/solutions" routerLinkActive="active">Solutions</a>
    <a routerLink="/technologies" routerLinkActive="active">Technologies</a>
    <a routerLink="/customers" routerLinkActive="active">Customers</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/newsblogs" routerLinkActive="active">News & Blogs</a>
    <a routerLink="/packages" routerLinkActive="active">Packages</a>
    <a routerLink="/careers" routerLinkActive="active">Careers</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

  <!-- Search Icon -->
  <div class="icon-search">
    <img src="svgs/search.svg" />
  </div>
</nav>

<router-outlet></router-outlet>
