<div class="section">
  <div class="container">

    <div class="outline-text">
      <div class="display-xl fw-black">Featured</div>
    </div>

    <div class="title">
      <h2>Latest news</h2>
      <a class="arrow-link" href="/news-blogs/all-posts">
        <div class="arrow-link-content">
          <div class="arrow-link-text">News &amp; Blogs</div>
          <div class="arrow-holder">
            <div class="icon arrow-icon arrow-link-icon"></div>
          </div>
        </div>
      </a>
    </div>

    <div class="blog-holder">

      <div class="blog-wrapper">
        <div class="blog-list">

          <div class="blog">
            <div class="blog-dots"></div>
            <a class="blog-thumb-holder" href="/post/virtual-panel-discussion-deepseek-carrot-stick-ai-agents">
              <img class="blog-thumb" src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/67be2434974e84f6f130a576_Panel%20Discussion_Febuary%20-%20Lead%20Image%20-%20700%20x%20500%20-%20NoWatchTag%20(1).png">
            </a>
            <div class="blog-card-content">
              <h4 class="text-silver">February 26, 2025</h4>
              <h3>Virtual Panel Discussion: DeepSeek | Carrot &amp; Stick Approach | AI Agents</h3>
              <p>
                Welcome back! In today's virtual panel discussion, we're talking about the topic du jour - DeepSeek.
                Plus, we chat about the carrot &amp; stick approach with GenAI tools and whether we're seeing any real
                efficiency and productivity gains within businesses.
              </p>
              <div>
                <a class="arrow-link" href="/post/virtual-panel-discussion-deepseek-carrot-stick-ai-agents">
                  <div class="arrow-link-content">
                    <div class="arrow-link-text">Read more</div>
                    <div class="arrow-holder">
                      <div class="icon arrow-icon arrow-link-icon"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="blog">
            <div class="blog-dots"></div>

            <a class="blog-thumb-holder" href="/post/launching-our-genai-centre-of-excellence">
              <img class="blog-thumb" src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/66f1e9ae9b1bab61c306b335_Lead%20image%20-%20Gen%20AI%20CoE%20-%20700x500.png">
            </a>

            <div class="blog-card-content">
              <h4 class="text-silver">September 24, 2024</h4>
              <h3>Launching Our GenAI Centre of Excellence</h3>
              <p>
                We’re excited to launch our Generative AI Centre of Excellence (GenAI CoE). Our mission is to give
                customers access to the most advanced insights and technology in Generative AI, helping them keep up in
                this rapidly evolving field and achieve sustainable AI success in their organisation.
              </p>
              <div>
                <a class="arrow-link" href="/post/launching-our-genai-centre-of-excellence">
                  <div class="arrow-link-content">
                    <div class="arrow-link-text">Read more</div>
                    <div class="arrow-holder">
                      <div class="icon arrow-icon arrow-link-icon"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="blog">
            <div class="blog-dots"></div>
            <a class="blog-thumb-holder" href="/post/upgrading-from-microsoft-dynamics-nav-to-microsoft-dynamics-365-business-central-cloud">
              <img class="blog-thumb" src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6462f62b79873f3bf76d6617_Untitled%20(1000%20%C3%97%20500%20px)%20(700%20%C3%97%20500%20px)%20(2).png">
            </a>

            <div class="blog-card-content">
              <h4 class="text-silver">April 11, 2024</h4>
              <h3>Upgrading from Microsoft Dynamics NAV to Microsoft Dynamics 365 Business Central Cloud?</h3>
              <p>
                The triggers for moving to Microsoft Dynamics 365 Business Central cloud are commonly around similar
                themes: flexibility to scale up and down, cost control, better integration with other core systems and
                tighter security.
              </p>
              <div>
                <a class="arrow-link" href="/post/upgrading-from-microsoft-dynamics-nav-to-microsoft-dynamics-365-business-central-cloud">
                  <div class="arrow-link-content">
                    <div class="arrow-link-text">Read more</div>
                    <div class="arrow-holder">
                      <div class="icon arrow-icon arrow-link-icon"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
