<section>
  <div class="container">

    <div class="text-container">
      <h2 class="text-center">What our customers say</h2>
    </div>

    <div class="swiper-mask">
      <div class="swiper-holder">

        <swiper-container #swiper
                          slides-per-view="3"
                          space-between="60"
                          centerd-slides="true"
                          loop="true">

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg">
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254c8d00157034f4d8af354_hrc.png">
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  We were quite anxious over the deployment weekend. Ironically this was due to the
                  phone NOT ringing with issues to solve. Well done Theta! The success of the deployment was due to the hard
                  graft put in prior to the launch, and rapid response to any day to day issues.
                </h4>
                <h4 class="review-author">Philip Bryant, Project Manager</h4>
                <h4 class="review-author bold">Human Rights Commission</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254eeea495dbb5b7d588699_Trustpower-logo.svg.png" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  In a project, you bring in experts and deliver something by a deadline. The world
                  can move in that time. Our approach is to drive an ongoing, internal capability with the help of IT
                  partners.
                </h4>
                <h4 class="review-author">Chris Jenkins, Data and Information Manager</h4>
                <h4 class="review-author bold">Trustpower</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254c1af5623db737aacee67_fidelitylife.jpg" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  The combination of D365 with LMS365 gives us access to advisers’ learning records
                  almost immediately — it’s information we need to see in real-time, and this solution delivers just that!
                </h4>
                <h4 class="review-author">Trecia Brown, Head of Professional Development</h4>
                <h4 class="review-author bold">Fidelity Life</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254bdf0b0df084b41a3aa0d_beststart-300.png" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  It was the most seamless system rollout I’ve done. In any moments of frustration,
                  Theta stood up to the table and soon fixed them. We worked really well together as a meeting of minds
                  between two organisations.
                </h4>
                <h4 class="review-author">Jill Barnard, Finance Director</h4>
                <h4 class="review-author bold">BestStart</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254cbd5a730123b65e53ba1_mfreight.png" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  The first time we started to run dashboards that spanned multiple entities and
                  multiple regions and were able to look at our data at such a macro level was a ‘wow’ moment. Within 10
                  seconds, we had dashboards loading for the world. We’ve never been able to do that. For me, that’s when it
                  started to get exciting.
                </h4>
                <h4 class="review-author">John Eshuis, Group IT Manager</h4>
                <h4 class="review-author bold">Mainfreight</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254d9f4a168e962011ea34d_Taumata%20Arowai.jpg" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  Our Chief Executive said it was the smoothest go-live he'd experienced! It's a great
                  reflection on Microsoft and Theta.
                </h4>
                <h4 class="review-author">Jessie Larsen, Establishment Lead</h4>
                <h4 class="review-author bold">Taumata Arowai</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254d6e673b0a05bc84cb927_res%20brands.png" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  Theta has proven to be an invaluable partner throughout the build of our new Cloud
                  Data Warehouse, consistently delivering excellent data and analytics services. Their dedicated team of
                  experts provided us with the tools and insights to make a step change within the business, collaborating
                  closely with our team to ensure we achieve key outcomes for our teams.
                </h4>
                <h4 class="review-author">Kenny Thein, Chief Information Officer</h4>
                <h4 class="review-author bold">Restaurant Brands Limited</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/624a1e966ad06a0036a31ff1_cnz.jpg" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  The Theta team were very thorough in their project design and provided excellent
                  service to deliver us a quality product that will allow us to generate performance insights we have never
                  seen before. The solution was created very efficiently under the time pressures we had leading into the
                  Tokyo Olympics.
                </h4>
                <h4 class="review-author">Carl Bradford PhD, Performance Scientist</h4>
                <h4 class="review-author bold">Cycling New Zealand</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254c5125a36fb29e1b04759_Furnware_RGB_Teal-768x297-1.jpg" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  We wanted an off-the-shelf solution and Theta had a good understanding of our needs.
                  We don’t have a lot of resource to maintain a communications platform, so it was important to keep it
                  simple. We also wanted the flexibility to adapt and roll with changes as our working habits evolve.
                </h4>
                <h4 class="review-author">Rob Merwood, Information Systems Manager</h4>
                <h4 class="review-author bold">Furnware</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254b959ef4c254165e8d899_Website-Craigs-Investment-Partners.png" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  Theta has worked with us closely for a number of years to develop our analytics
                  capability. They have led the way in demonstrating the power of Azure to us and in helping us to make the
                  transition into the cloud
                </h4>
                <h4 class="review-author">Stuart Prendergast, Head of Technology</h4>
                <h4 class="review-author bold">Craigs Investment Partners</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="card">
              <img src="https://cdn.prod.website-files.com/60fa9ed33ad004f9b8043979/61135a24c832dc82cb37ad2f_quotes.svg" />
              <div class="card-content">
                <div class="logo-holder">
                  <img src="https://cdn.prod.website-files.com/60ff451f4874316baf91d00d/6254dc055d9ee060c4a47d44_Timaru-District-Council_Logo_South-Canterbury_1-landscape.jpg" />
                </div>
                <div class="quote-mark">"</div>
                <h4 class="review-text">
                  It’s like having a world-class cyber threat intelligence team embedded in our own
                  organisation. We have essentially front-footed cyber threats by being proactive in detecting malicious
                  behaviours before they become a problem.
                </h4>
                <h4 class="review-author">Justin Bagast, CIO</h4>
                <h4 class="review-author bold">Timaru District Council</h4>
              </div>
              <div class="card-decor"></div>
            </div>
          </swiper-slide>

        </swiper-container>

        <div class="swiper-fader left"></div>
        <div class="swiper-fader right"></div>

      </div>

      <div id="reviews-prev" (click)="goPrev()">
        <button class="previous"></button>
      </div>

      <div id="reviews-next" (click)="goNext()">
        <button class="next"></button>
      </div>
    </div>
  </div>
</section>
